.addCard {
  display: inline;
  position: absolute;
  margin-top: -240px;
  cursor: pointer;
  left: 40px;
  z-index: 9;
  left: 50px;
}

.addCard input {
  background-color: rgb(75, 186, 238);
  border: none;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  left: 50px;
}

.remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 15px;
  position: relative;

  z-index: 9;
  cursor: pointer;
  border: none;
}
.remove img {
  position: relative;
  width: 25px;
  height: 25px;
  top: 0px;
  right: 30px;
  top: 25px;
}

.bloc {
  z-index: -5;
  height: 100%;
}
.body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .container_class {
    overflow-x: scroll;
    margin: 0;
    padding: 0;
  }
}
.card-container {
  position: absolute;
  z-index: -1;
}
.cards {
  position: relative;
  display: flex;
}
.card_app {
  border: 1px solid lightgray;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  object-fit: fit-content;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.card_app img {
  height: 100%;
  object-fit: cover;
}
.card_app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  padding-bottom: 15px;
  margin: 0;
}
.card_app .title {
  width: 100%;
  display: flex;
  height: 50px;
  position: relative;
  justify-content: center;

  background-color: black;
  opacity: 0.8;
  color: white;
  line-height: 50px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.card_app input {
  height: 30px;

  width: 80%;
  margin: 0 auto;
}
.color {
  width: 60px !important;
}
.card_text {
  display: block;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  height: fit-content;
}
