.bouton_container_2 input {
  display: inline-block;
  margin-bottom: 15px;
  height: 35px;
}
.bouton_container_2 .cards {
  display: flex;
  flex-direction: column;
}
.bouton_container_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bouton_container_1,
.bouton_container_2 {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .right {
    display: none;
  }
  .left {
    display: none;
  }
}

/* bouton */
.bouton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: end;
  width: 100%;
}
.bouton_container_2 input {
  display: inline-block;
  margin-bottom: 15px;
  height: 35px;
}
.bouton_container_2 .cards {
  display: flex;
  flex-direction: column;
}
.bouton_container_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bouton_container_1,
.bouton_container_2 {
  width: 100%;
}

.bouton_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
