h3 {
  margin-top: 0px;
  padding-top: 15px;
}
.page_container_setting {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.color_display {
  text-align: center;
  border: 1px solid gray;
  padding: 10px;
  margin: 0;
  padding-top: 15px;
}
