.image {
  display: inline-block;
  height: 100%;
  width: calc(100% - 30px);
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image h2 {
  text-transform: uppercase;
  font-weight: 900;
  -moz-text-fill-color: transparent;
  -webkit-brackground-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
