.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: calc(100% - 20px);
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px auto;
}
.container input {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: calc(100% - 20px);
}

.container select {
  height: 25px;
  background-color: white;
  border: 1px solid lightgray;
}

.explain_redirect {
  display: inline;
  position: relative; /* les .infobulle deviennent référents */
  cursor: help;
}

.explain_redirect:hover::after,
.explain_redirect:focus::after {
  content: attr(aria-label); /* on affiche aria-label */
  width: 390px;

  position: absolute;
  top: -8em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  font-weight: 300;
}
