.page {
  display: flex;
  width: calc(100% - 62px);
  border: 1px solid lightgray;
  margin-bottom: 30px;
  height: 35px;
  padding: 30px;
}
.page h2 {
  margin: 0;
  margin-right: 30px;
}
.page input {
  width: calc(100% - 100px);
  margin-right: 30px;
}
.end {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.end a {
  display: flex;
  justify-content: space-between;
}
.end img {
  width: 30px;
  height: 30px;
}
.addCard {
  width: 60px;
  margin-bottom: 15px;
}
.addCard img {
  width: 100%;
  cursor: pointer;
}
.pages {
  display: block;
  width: 100%;
}
.button_save_page {
  cursor: pointer;
}
.button_save_page:hover img {
  transform: scale(1.2);
}
.href_url {
  border: none;
  cursor: pointer;
}
